/* Navbar */
  #navbar .logo{
    float: none;
    text-align: center;
    display: block;
    margin: auto;
    width: 100px;
  }
  
  #navbar ul, 
  #navbar ul li {
    float: none;
  }
  
  #navbar ul li a {
    padding: 5px;
  }
  
  /* cabecera */
  #cabecera-home {
    height: 30vh;
    padding: 10px;
  }
  
  #cabecera .cabecera-banner,
  #cabecera-home .cabecera-banner{
    height: 50%;
    width: 80%;
  }
  
  #cabecera h1,
  #cabecera-home h1 {
    text-align: center;
    font-size: 30px;
    line-height: 1em;
    padding: 10px;
  }
  
  /* Portfolio */
  #portfolio .portfolio-nav {
    display: none;
  }
  
  .box {
    float: none;
    width: 100%;
    padding:10px;
  }
  
  /* Contacto */
  #contacto {
    height: 100%;
  }
  
  #contacto .box-contact {
    float: none;
    width: 100%;
    padding-bottom: 10%;
  }
  
  #contacto .features-contact .box-form{
    float: none;
    width: 100%;
  }

  #contacto #mapa{
    padding: 0 3%;
    width: 100%;
    height: 600px;
  }
  
  /* Proyecto */
  .box-portfolio {
    float: none;
    width: 100%;
  }
  
  
  /* Footer */
  #main-footer {
    text-align: center;

  }
  
  #main-footer p,
  #main-footer ul,
  #main-footer ul li {
    float: none;
  }