  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  #logo{
    margin-top: -15px;
    margin-right: 20px;
    margin-bottom: -12px;
    float: none;
    text-align: center;
    display: block;
    width: 100px;
  }
  
  /* cabeceras */
  #cabecera-proyecto{
    margin-top: 30px;
    text-align: center;
  }

  #cabecera-proyecto img{
    width: 50%;
    height: 30%;
  }
  
  /* Portafolio */
  .proyectos {
    margin: auto;
    max-width: 1100px;
    overflow: auto;
    padding: 20px 20px;
  }

  .apartado {
    float: left;
    width: 33%;
    padding:10px;
  }
  
  .apartado img {
    width: 100%;
  }

  .apartado-portfolio{
    padding-top: 25px;
  }

  .apartado-portfolio ul{
    list-style: none;
  }
  
  /* Contacto */
  #contacto {
    padding-top: 30px;
    height: 300px;
    align-content: center;
  }
  
  #contacto .apartado-contacto {
    float: left;
    width: 33%;
    text-align: center;
  }
  
  #contacto .apartado-contacto i {
    padding-bottom: 20px;
  }
  
  #contacto .apartado-contacto p {
    line-height: .8em;
  }

  #contacto #mapa{
    margin-top: 20px;
    margin-bottom: 15px;
    padding: 3% 3% 0 3%;
    width: 100%;
    height: 600px;
  }

  /*Botones*/
  .button {
    display: inline-block;
    margin-top: 15px;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #ffffff;
    background-color: #004482;
    border: none;
    border-radius: 40px;
  }

  .button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }
  
  /* Footer */
  #pie-pagina {
    background-color: #004482;
    height: 80px;
    padding-top: 20px;
  }
  
  #pie-pagina p {
    color: #ffffff;
    float: left;
  }
  
  #pie-pagina ul {
    float: right;
    list-style: none;
  }
  
  #pie-pagina ul li {
    float: left;
  }
  
  #pie-pagina ul li i {
    padding: 10px;
    color: #ffffff;
  }
  
  #main-footer ul li a {
    display: block;
    padding: 10px;
    text-align: center;
  }