.capaflotante{
    padding: 10px; 
    position: absolute;
    display: none;
    top: 45px;
    left: 2%;
}

.cfmedio{	
    width: 250px;
    background: rgb(0, 21, 141);
    color: white;
    border: 15px solid rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;    
}
 
#padding_box{
     background-clip: padding-box;
}