body{
    margin: 0;
}

/**/
video{
    width: 100%;
    height: 100%;
}

.definition{
    background-color: aqua;
}

/*Pie de pagina*/
#pie-pagina {
    background-color: #818181;
    height: 80px;
    padding-top: 20px;
}
  
#pie-pagina p {
    margin-top: 5px;
    color: #ffffff;
    float: left;
}
  
#pie-pagina ul {
    float: right;
    list-style: none;
}

#pie-pagina ul li {
    float: left;
}
  
#pie-pagina ul li i {
    padding: 10px;
    color: #ffffff;
}
  
#main-footer ul li a {
    display: block;
    padding: 8px;
    text-align: center;
}

/*Cambio de tamaño para de dispositivos móviles*/
@media only screen and (max-width: 1000px) {
    
    .fotocaru{
        width: 100vw;
        height: 40vh;
    }

    /*Pie de pagina*/
    #pie-pagina {
        text-align: center;
        height: 190px;
    }
  
    #pie-pagina p,
    #pie-pagina ul,
    #pie-pagina ul li {
        float: none;
    }

    #pie-pagina ul li {
        margin-right: 45px;
    }
}