body{
    margin: 0;
    background-image: url("foto2.jpg");
}

header{
    width: 100%;
    background-color: #0c3559;
}

header img{
    margin-left: 48%;
    width: 70px;
    margin-top: 5px;
    margin-bottom: 5px;
}

section{
    margin: 0;
}

section p{
    margin: 0;
}

.capaflotante{
    padding: 10px; 
    position: absolute;
    display: none;
    top: 45px;
    left: 2%;
}

.cfmedio{	
    width: 250px;
    background: rgb(0, 21, 141);
    color: white;
    border: 15px solid rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;    
}
 
#padding_box{
     background-clip: padding-box;
}
