.cont-temporizador{
    display: flex;
    justify-content: left;   
    margin-top: 50px; 
}
  
.cont-temporizador .bloque{
    margin: 0px 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.cont-temporizador .bloque div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #A11554;
    box-shadow: 0px 0px 6px 2px #8b8b8b inset;
    color: #D0D0D3;
    font-size: 40px;
    font-weight: bold;
    width: 100px;
    height: 70px;
    margin-bottom: 10px;
    border-radius: 5px;
}
  
.cont-temporizador .bloque p{
    font-size: 11px;
    font-weight: bold;
    color: #D0D0D3;
}