body{
    margin: 0;
}


/*Cabecera*/
.cabecera{
    margin: 0;
    background-image: url("../fotos/C-_xampp_htdocs_diseno_Landing-page_fotos_32019.gif");
    height: 100vh;
    background-repeat: no-repeat;
    text-align: justify;
}

.cabecera h1{
    padding: 25px;
    width: 450px;
    color: #D0D0D3;
    text-align: left;
}

.cabecera p{
    padding: 25px;
    color: #D0D0D3;
    text-align: left;
}

.cabecera button{
    display: inline-block;
    padding: 10px 50px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #D0D0D3;
    background-color: #A11554;
    border: none;
    border-radius: 40px;
}

#bot1{
    margin-left: 39%;
    margin-top: 33%;
    margin-right: 10px;
}

button:hover{
    background-color: #413E3F;
    box-shadow: 0 12px 16px 0 #413E3F,0 17px 50px 0 rgba(0,0,0,0.19);
}


/*Definición*/
.definition{
    background-color: #8b8b8b;
    padding: 25px;
    padding-bottom: 15px;
    text-align: justify;
}

.definition p{
    color: white;
    font-family: Verdana;
}

.cabecera input{
    padding: 2px;
}


/*Pie de pagina*/
#pie-pagina {
    background-color: #818181;
    height: 80px;
    padding-top: 20px;
}
  
#pie-pagina p {
    margin-top: 5px;
    color: #ffffff;
    float: left;
}
  
#pie-pagina ul {
    float: right;
    list-style: none;
}

#pie-pagina ul li {
    float: left;
}
  
#pie-pagina ul li i {
    padding: 10px;
    color: #ffffff;
}
  
#main-footer ul li a {
    display: block;
    padding: 8px;
    text-align: center;
}

@media only screen and (max-height: 800px) {
    
    /*Cabecera*/
    .cabecera{
        margin: 0;
        background-image: url("../fotos/32019.gif");
        height: 100vh;
        background-repeat: no-repeat;
        text-align: justify;
    }


    #bot1{
        margin-left: 35%;
        margin-top: 22%;
    }
}

/*Cambio de tamaño para de dispositivos móviles*/
@media only screen and (max-width: 1000px) {
    
    /*Cabecera*/
    #bot1{
        margin-left: 24%;
        margin-top: 50%;
    }

    #bot2{
        margin-left: 25%;
        margin-top: 5%;
    }


    /*Pie de pagina*/
    #pie-pagina {
        text-align: center;
        height: 190px;
    }
  
    #pie-pagina p,
    #pie-pagina ul,
    #pie-pagina ul li {
        float: none;
    }

    #pie-pagina ul li {
        margin-right: 45px;
    }
}