body{
    margin: 0;
}


/**/
.button{
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 820px;
    padding: 10px 50px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #D0D0D3;
    background-color: #A11554;
    border: none;
    border-radius: 40px;
}

.button:hover{
    background-color: #413E3F;
    box-shadow: 0 12px 16px 0 #413E3F,0 17px 50px 0 rgba(0,0,0,0.19);
}


/*Cabecera*/
.cabecera{
    margin: 0;
    background-image: url("../fotos/C-_xampp_htdocs_diseno_Landing-page_fotos_32019.gif");
    height: 100vh;
    background-repeat: no-repeat;
    text-align: justify;
}

.cabecera h1{
    padding: 25px;
    width: 560px;
    color: #D0D0D3;
    text-align: left;
    font-size: 50px;
}

.cabecera p{
    padding: 25px;
    color: #D0D0D3;
    text-align: left;
    font-size: 20px;
}


#bots{
    width: 380px;
    margin-top: 17%;
    margin-left: 39%;
}

#bot1{
    margin-left: 22%;
    margin-top: 24%;
    margin-right: 10px;
}

#bot2{
    margin-left: 24%;
    margin-top: 5%;
    margin-right: 10px;
}


/*Definición*/
.definition{
    background-color: #413E3F;
    padding: 25px;
    padding-bottom: 15px;
    text-align: justify;
}

.definition h3{
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 25px;
}

.definition p{
    color: #FFFFFF;
    font-family: Verdana;
    text-align: center;
    margin-left: 170px;
    width: 1500px;
}


/**/
.Info2{
    background-color: #8b8b8b;
    padding: 25px;
    padding-bottom: 15px;
}

.Info2 h3{
    color: #FFFFFF;
    text-align: center;
    font-family: Verdana;
}

.Info2 p{
    color: #FFFFFF;
    margin-top: 15px;
    text-align: center;
    font-family: Verdana;
}


/**/
.col-sm-4{
    color: #FFFFFF;
    background-color: #413E3F;
}

.col-sm-4 h3{
    text-align: center;
    margin: 40px;
}

.col-sm-4 p{
    text-align: center;
    margin: 40px;
}

.col-sm-4 img{
    margin-left: 23%;
    width: 350px;
    height: 240px;
}

#fotojuego{
    padding-top: 30px;
    margin-top: 10px;
    margin-left: 16%;
    margin-bottom: 10px;
    width: 400px;
    height: 220px;
}


/**/
.compra{
    background-color: #413E3F;
}

.compra button{
    margin-top: 20px;
    margin-left: 850px;
    margin-bottom: 20px;
}


/*Pie de pagina*/
#pie-pagina {
    background-color: #818181;
    height: 80px;
    padding-top: 20px;
}
  
#pie-pagina p {
    margin-top: 5px;
    color: #ffffff;
    float: left;
}
  
#pie-pagina ul {
    float: right;
    list-style: none;
}

#pie-pagina ul li {
    float: left;
}
  
#pie-pagina ul li i {
    padding: 10px;
    color: #ffffff;
}
  
#main-footer ul li a {
    display: block;
    padding: 8px;
    text-align: center;
}

@media only screen and (max-height: 800px) {
    
    /*Cabecera*/
    .cabecera h1{
        width: 460px;
        font-size: 45px;
    }
    
    .cabecera p{
        font-size: 17px;
    }

    .cabecera{
        margin: 0;
        background-image: url("../fotos/32019.gif");
        height: 100vh;
        background-repeat: no-repeat;
        text-align: justify;
    }

    #bots{
        margin-top: 10%;
        margin-left: 38%;
    }

    /**/
    .definition p{
        margin-left: 0;
        width: 100%;
    }

    /**/
    .compra button{
        margin-top: 20px;
        margin-left: 43%;
        margin-bottom: 20px;
    }

    /**/
    .Info2 button{
        margin-left: 43%;
    }

    .col-sm-4 img{
        margin-left: 15%;
        width: 350px;
        height: 240px;
    }

    #fotojuego{
        margin-top: 10px;
        margin-left: 9%;
        margin-bottom: 10px;
    }
}

/*Cambio de tamaño para de dispositivos móviles*/
@media only screen and (max-width: 1000px) {
    
    /*Cabecera*/
    #bots{
        margin-top: 30%;
        margin-left: 7%;
    }

    .Info2 button{
        margin-left: 23%;
    }

    /**/
    .definition p{
        margin-left: 0;
        width: 100%;
    }

    /**/
    .col-sm-4 img{
        margin-left: 9%;
        width: 350px;
        height: 240px;
    }

    #fotojuego{
        width: 370px;
        height: 190px;
    }

    .compra button{
        margin-left: 25%;
    }

    /*Pie de pagina*/
    #pie-pagina {
        text-align: center;
        height: 190px;
    }
  
    #pie-pagina p,
    #pie-pagina ul,
    #pie-pagina ul li {
        float: none;
    }

    #pie-pagina ul li {
        margin-right: 45px;
    }
}