body{
    margin: 0;
}


/*Cabecera*/
.cabecera{
    background-color: #494949;
    padding: 25px;
    padding-bottom: 14px;
    text-align: justify;
}

.cabecera p{
    color: white;
    font-family: Verdana;
}

.cabecera img{
    width: 40%;
    height: 40%;
    position: relative;
}


/*Definición*/
.definition{
    background-color: #8b8b8b;
    padding: 25px;
    padding-bottom: 14px;
    text-align: justify;
}

.definition p{
    color: white;
    font-family: Verdana;
}


/*Pie de pagina*/
#pie-pagina {
    background-color: #818181;
    height: 80px;
    padding-top: 20px;
}
  
#pie-pagina p {
    margin-top: 5px;
    color: #ffffff;
    float: left;
}
  
#pie-pagina ul {
    float: right;
    list-style: none;
}

#pie-pagina ul li {
    float: left;
}
  
#pie-pagina ul li i {
    padding: 10px;
    color: #ffffff;
}
  
#main-footer ul li a {
    display: block;
    padding: 8px;
    text-align: center;
}

/*Cambio de tamaño para de dispositivos móviles*/
@media only screen and (max-width: 1000px) {


    /*Pie de pagina*/
    #pie-pagina {
        text-align: center;
        height: 190px;
    }
  
    #pie-pagina p,
    #pie-pagina ul,
    #pie-pagina ul li {
        float: none;
    }

    #pie-pagina ul li {
        margin-right: 45px;
    }
}